name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          github_user_name: madhavzanwar
          outputs: dist/github-contribution-grid-snake.svg

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
